
/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
/*     background-image: url('https://images.pexels.com/photos/56759/pexels-photo-56759.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
    /* Add your image path here */
    background-size: cover;
    background-position: center;
    color: rgb(27, 164, 57);
    padding: 50px;
    text-align: center;
}

.header-content {
    max-width: 600px;
    /* Adjust as needed */
    margin: 0 auto;
}

/* Title styling */
h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Subtitle styling */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Paragraph styling */
p {
    font-size: 18px;
    line-height: 1.5;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

.content {
    display: none;
    /* Hide content by default */
    padding: 20px;
}

.show {
    display: block;
    /* Show content when selected */
}

/* Add more styles as needed */
.personal-button {
    background-color: #ffcc00;
    /* Yellow */
}

.teacher-button {
    background-color: #ff6666;
    /* Red */
}

.students-button {
    background-color: #0da37d;
    /* Blue */
}

.futsal-button {
    background-color: #66ccff;
    /* Blue */
}

/* For Futsal Stats Page  */
.table-container {
    overflow-x: auto;
}

.futsal-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.futsal-table th,
.futsal-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.futsal-table th {
    background-color: #f2f2f2;
    color: #333;
}

.futsal-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.futsal-table tbody tr:hover {
    background-color: #f2f2f2;
}


/* For Daily Group Points- Class 6 */
#class6-a-group,
#class6-b-group {
    display: none;
}


/* CSS for responsive map container */
.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    /* Aspect ratio 16:9 for the map */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* CSS to style the futsal cup details */
    .futsal-cup-details {
        margin-top: 20px;
    }

    .futsal-cup-heading {
        cursor: pointer;
        color: #333;
        text-decoration: underline;
    }

    .futsal-cup-info {
        margin-bottom: 10px;
        font-style: italic;
        color: #666;
    }

    .futsal-cup-table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .futsal-cup-table th,
    .futsal-cup-table td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .futsal-cup-table th {
        background-color: #f5f5f5;
        font-weight: bold;
    }

    .futsal-cup-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .futsal-cup-table tbody tr:hover {
        background-color: #f0f0f0;
    }

    /* Responsive styling */
    @media (max-width: 768px) {

        .futsal-cup-table th,
        .futsal-cup-table td {
            padding: 8px;
        }
    }

@media (max-width: 576px) {
    .futsal-cup-heading {
        font-size: 18px;
    }

    .futsal-cup-info {
        font-size: 14px;
    }

    .futsal-cup-table th,
    .futsal-cup-table td {
        font-size: 12px;
    }
}


/* Class 6_1st Terminal */

#class6-computer-1st-terminal {
background-color: #f0f0f0; /* Light gray background color */
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

#class6-computer-1st-terminal h3 {
color: #333; /* Dark text color */
border-bottom: 1px solid #ccc; /* Bottom border */
padding-bottom: 10px;
margin-bottom: 20px;
}

.terminal-table {
width: 100%;
border-collapse: collapse;
}

.terminal-table th,
.terminal-table td {
border: 1px solid #ccc; /* Border for table cells */
padding: 8px;
}

.terminal-table th {
background-color: #f9f9f9; /* Light gray background color for table headers */
text-align: left;
}




/* Navbar styling */
nav {
    background-color: #333;
    overflow: hidden;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0; /* Background color */
    padding: 10px; /* Add padding for spacing */
}

.nav-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.nav-link:hover {
    background-color: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Button specific styling */
.personal-button {
    background-color: #ffcc00;
    /* Yellow */
}

.teacher-button {
    background-color: #ff6666;
    /* Red */
}

.students-button {
    background-color: #0da37d;
    /* Green */
}

.futsal-button {
    background-color: #66ccff;
    /* Blue */
}




/* CSS for responsive footer */
/* CSS for responsive footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin-bottom: 20px;
}

.footer-link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.footer-divider {
    border-color: white;
}

.footer-text {
    margin-top: 20px;
}

.contact-info {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.social-icons {
    font-size: 24px;
}

.social-icons a {
    margin-right: 10px;
}


/* Styling for Class Resources */
.class-resources {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.class-resources h3 {
    font-size: 24px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.class-resources ul {
    list-style-type: none;
    padding: 0;
}

.class-resources li {
    margin-bottom: 10px;
}

.class-resources a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.class-resources a:hover {
    color: #0056b3;
}

/* Styling for Terminal Sections */
.terminal-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    display: none;
}

.terminal-section h3 {
    font-size: 20px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.terminal-table {
    width: 100%;
    border-collapse: collapse;
}

.terminal-table th, .terminal-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/* Button Styling */
.class-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;

}

.class-button:hover {
    background-color: #0056b3;
}



/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        flex: none;
        width: 100%;
    }

    .footer-link {
        display: block;
        margin-bottom: 10px;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column; /* Change to vertical layout */
        align-items: stretch; /* Stretch links to fill container */
    }

    .nav-link {
        margin-bottom: 5px; /* Add space between links */
    }
}


/* Media query for tablets and small desktops */
@media (min-width: 768px) {
    nav a {
        margin: 0 15px;
    }

    .content {
        width: 70%;
        margin: 0 auto;
    }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    nav {
        text-align: center;
    }

    nav a {
        float: none;
        margin: 5px;


    }

    .content {
        padding: 10px;
    }
}
