html {
    scroll-padding-top: 80px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #6e6e6e;
}


/* a {
    text-decoration: none;
} */

a:hover {
    color: #68d372;
}

input, textarea {
  border-radius: 0px;
  color: #6e6e6e !important;
}

.btn-success {
    background-color: #68d372;
    border-color: #68d372;
    border-radius: 0px;
    font-weight: 600;
}

.btn-success:hover {
    background-color: #4ea156;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222222;
    font-weight: 900;
}

.navbar {
    position: fixed;
    z-index: 20;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #222222;
}

.navbar .navbar-brand {
    position: absolute;
    top: 0;
    background-color: #68d372;
    display: inline-block;
    padding: 20px 10px 0px 10px;
    font-size: 20px;
    color: white;
    font-weight: 900;
}


/* .green {
  color: #68d372;
}

.white {
  color: white;
} */

.navbar li .nav-link {
    position: relative;
    display: inline-block;
    color: white;
    padding: 15px 30px !important;
    margin-right: 20px;
}

.navbar li .nav-link:hover {
    color: #68d372;
}

.navbar li .active {
    color: #68d372;
}

/* .navbar .btn {
    color: white;
    width: 150px;
}

.navbar .btn:hover {
    color: white;
} */

/* .navbar .navbar-toggler {
    color: white !important;
    margin-left: auto;
}

.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:hover {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
} */

/* .section-title {
    color: #68d372;
    font-weight: bold;
} */

#intro {
    background-color: #222222;
    padding: 150px 0px 50px ;
    /* top padding is 150px , Right and Left padding are 0px & Bottom padding is 50px */
}

#intro h1 {
    color: white;
}

#intro h1 span {
    font-size: 1.8em;
}

#intro .btn {
    min-width: 160px;
}

#intro p {
    margin: 30px 0px;
}

#intro a {
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    margin-top: 20px;
}

#intro a img {
    margin-right: 10px;
}

#intro a:hover {
    color: white;
}

#intro .scroll {
    text-align: left;
    display: block;
    color: #6e6e6e;
    padding: 20px 0px;
    margin-top: 30px;
}

#intro .img img {
    width: 100%;
}

#about {
    padding-top: 60px;
}

#about .section-title {
    padding-left: 40px;
}

#about .left,
#about .right {
    padding: 40px 40px;
}

#about .left div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    padding-bottom: 30px;
}

#about .left img {
    width: 30px;
}

#bio .bio {
    padding: 0;
}

#bio .img {
    padding: 0px 50px;
}

#bio .img img {
    width: 100%;
}

#bio .text {
    padding: 40px;
}

#skills {
    background-color: #222222;
    padding: 80px 0px;
}

#skills h1 {
    color: white;
}

#skills .skills-progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content:center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 75px 0px;
    /* Top and Bottom paddings are 75px while Right & Left are 0px; */
}

#skills .skills-progress .skill-wrapper {
    height: 180px;
    width: 180px;
    float: left;
    margin: 15px;
    position: relative;
}

#skills .skills-progress .skill-wrapper .skill-name {
    color: white;
    position: absolute;
    /* There are five different position values:    
            static, relative, fixed, absolute & sticky */
    font-size: 0.9rem; /* 1rem = 16px */    
    width: 100%;
    bottom: -60px;
    left: 65%;
    /* -webkit-transform: translateX(-50%); */
    transform: translateX(-50%);
}

#skills .skills-progress .skill-wrapper .progress {
    height: 100%;
    width: 100%;
    clip: rect(0, 180px, 180px, 90px);
    left: 0;
    position: absolute;
    top: 0;
    background-color: transparent;
}

#skills .skills-progress .skill-wrapper .progress .half-circle {
    height: 100%;
    width: 100%;
    border: 10px solid #68d372;
    border-radius: 50%;
    clip: rect(0, 90px, 180px, 0);
    left: 0;
    position: absolute;
    top: 0;
    z-index: 5;
}

#skills .skills-progress .skill-wrapper .shadow {
    height: 175px;
    width: 175px;
    border: 5px solid #6e6e6e;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    /* -webkit-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
}

#skills .skills-progress .skill-wrapper .label {
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* #skills .skills-progress .skill-wrapper .label .smaller {
    font-weight: 600;
    font-size: 30px;
} */

#skills .skills-progress .skill-wrapper.progress-64 .progress {
    clip: rect(auto, auto, auto, auto);
}

#skills .skills-progress .skill-wrapper.progress-64 .progress .right-side {
    -webkit-transform: rotate(180deg);
    transform: rotate(10deg);
}

#skills .skills-progress .skill-wrapper.progress-64 .progress .left-side {
    -webkit-transform: rotate(230deg);
    transform: rotate(230deg);
}

#skills .skills-progress .skill-wrapper.progress-75 .progress {
    clip: rect(auto, auto, auto, auto);
}

#skills .skills-progress .skill-wrapper.progress-75 .progress .right-side {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#skills .skills-progress .skill-wrapper.progress-75 .progress .left-side {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

/* For Progress-65 */

#skills .skills-progress .skill-wrapper.progress-65 .progress {
    clip: rect(auto, auto, auto, auto);
}

#skills .skills-progress .skill-wrapper.progress-65 .progress .right-side {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#skills .skills-progress .skill-wrapper.progress-65 .progress .left-side {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

#skills .skills-progress .skill-wrapper.progress-46 .progress .right-side {
    display: none;
}

#skills .skills-progress .skill-wrapper.progress-46 .progress .left-side {
    -webkit-transform: rotate(162deg);
    transform: rotate(162deg);
}


/* For progress-85 */

#skills .skills-progress .skill-wrapper.progress-85 .progress {
    clip: rect(auto, auto, auto, auto);
}

#skills .skills-progress .skill-wrapper.progress-85 .progress .right-side {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#skills .skills-progress .skill-wrapper.progress-85 .progress .left-side {
    -webkit-transform: rotate(306deg);
    transform: rotate(306deg);
}

#experience {
  padding: 50px 0px;
}

#experience .jobs {
    text-align: left;
    margin-top: 40px;
}

#experience .jobs p {
    margin-bottom: 0;
}

#experience .jobs .job-item {
    border-left: 2px solid #68d372;
    padding: 0px 40px 0px; 
    /* Top = 0px; Right & Left = 40px; Bottom = 0px */
    padding-bottom: 20px;
    position: relative;
}

#experience .jobs .job-item .date,
#experience .jobs .job-item .company {
    color: black;
    font-weight: 600;
}

#experience .jobs .job-item .date {
    padding-bottom: 20px;
}

#experience .jobs .job-item .date::before {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #68d372;
    display: block;
    position: absolute;
    left: 0px;
    top: 10px;
}

#experience .jobs .job-item .date::after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid #68d372;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0rem;
    /* -webkit-transform: translate(-50%, 25%); */
    transform: translate(-50%, 25%);
}

#experience .jobs .job-item .position {
    font-weight: 600;
    color: #68d372;
    font-size: 1.3rem;
}

#experience .jobs .job-item .company {
    padding-bottom: 10px;
}

/*  Testing 1 */
#experience .jobs .first {
    padding-top: 60px;
}

#experience .jobs .first .date::before {
    top: 70px;
}

#experience .jobs .first .date::after {
    top: 60px;
}

#experience .jobs .fourth {
    padding-bottom: 60px;
}

#contact {
  background-color: #222222;
  padding: 50px 0px;
  /* Top & Bottom = 50px; Right & Left = 0px */
}

#contact #contact-form {
    text-align: right;
    padding: 50px 0px;}
    /* Top & Bottom = 50px; Right & Left = 0px */


#contact #contact-form .form-group {
    text-align: left;
    margin-top: 20px;
}
#contact #contact-form button {
    margin-top: 40px; /* Top bhata 40px muni */    
}

#contact #contact-form input,
#contact #contact-form textarea {
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #6e6e6e;
}

#contact .img {
    margin-top: 30px;
}

#contact .img img {
    width: 100%;
}

#contact h1 {
    color: white;
    font-weight: 900;
}

#contact .email,
#contact .phone {
    margin-top: 40px;
    /* Div लाई Top Dheki 20px मुनी */
}

#contact .email p,
#contact .phone p {
    margin-bottom: 0.5rem !important;
}

#contact .social-media img {
    width: 30px;
    /* background-color: aqua; */
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#contact .social-media a img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

